// Flex-Row;
@mixin df-row-between-center {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
@mixin df-row-center-center {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
@mixin df-row-center-start {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
}
@mixin df-row-center-end {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-end;
}
@mixin df-row-start-center {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
}
@mixin df-row-end-center {
  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: center;
}
@mixin df-row-reverse-between-center {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
}
@mixin df-row-reverse-center-center {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
}
@mixin df-row-reverse-center-start {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: flex-start;
}
@mixin df-row-reverse-center-end {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: flex-end;
}
@mixin df-row-reverse-start-center {
  display: flex;
  flex-direction: row-reverse;
  justify-content: start;
  align-items: center;
}
@mixin df-row-reverse-end-center {
  display: flex;
  flex-direction: row-reverse;
  justify-content: end;
  align-items: center;
}

// Flex-Column;
@mixin df-column-center-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@mixin df-column-center-start {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
@mixin df-column-center-end {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}
@mixin df-column-start-center {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}
@mixin df-column-end-center {
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
}
@mixin df-column-reverse-center-center {
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
}
@mixin df-column-reverse-center-start {
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: flex-start;
}
@mixin df-column-reverse-center-end {
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: flex-end;
}
@mixin df-column-reverse-start-center {
  display: flex;
  flex-direction: column-reverse;
  justify-content: start;
  align-items: center;
}
@mixin df-column-reverse-end-center {
  display: flex;
  flex-direction: column-reverse;
  justify-content: end;
  align-items: center;
}